.content {
  grid-area: content;
  padding-top: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.post {
  position: relative;
  flex: 1 1 550px;
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-columns: 120px 1fr;
  grid-template-areas:
    'img content rating'
    'img content rating'
    'img data rating';
  column-gap: 20px;
  background: var(--white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.linkPost {
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
  color: #2d2d2d;
  margin-bottom: 10px;
  transition: color 0.36s ease-in-out;
}

